#particles {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 0;
  }
  #intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }