<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!--Sidenav-->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../../../assets/fullpageimg/full3.jpg">
            </div>
            <a href="#user" class="d-inline">
                <img class="circle" src="../../../assets/fullpageimg/full4.jpg">
            </a>
            <a href="" class="d-inline" routerLink="/login">
                <span class="pb-3 white-text name">
                    <button class="btn btn-link waves-effect waves-light">Iniciar Sesion</button>
                </span>
            </a>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="" routerLink="/">Inicio
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Servicios
                    <i class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="" routerLink="pc">Desarrollo de Software a Medida.</a>
                        </li>
                        <li>
                            <a href="" routerLink="ps2">Desarrollo y diseño de sistemas WEB.</a>
                        </li>
                        <li>
                            <a href="" routerLink="ps4">Desarrollo de sistemas contables.</a>
                        </li>
                        <li>
                            <a href="" routerLink="psp">Sublimaciones.</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a class="nav-link" href="" routerLink="contacto">Contacto</a>
    </li>
    <li>
        <a class="nav-link" href="" routerLink="utilidades">Asesoria Técnica</a>
    </li>
    <li>
        <a class="nav-link" href="" routerLink="ayuda">Ayuda</a>
    </li>
</ul>

<!--Boton para el sidenav-->
<div class="fixed-action-btn">
    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large amber pulse show-on-large">
        <i class="material-icons text-dark">apps</i>
    </a>
</div>